<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="/patterns/styles/styles.css">
  </head>
  <body>
    {{{content}}}
  </body>
</html>